<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>hi</p>
    <h3> name: <%= data.name %></h3>
    <h3>age: <%= data.age %></h3>
    <h3>about:  <%= data.about %></h3>
    <h3>contact: <%= data.number %></h3>

    <br><br>
    <a href="/del/<%= data._id %>?_method=DELETE"><button id="del">
      delete
    </button></a>
    <a href="/edit/<%= data._id%>"><button id="edit">
      edit
    </button></a>
  <br><br>
    <a href="/all">see all users</a>
    <a href="/">create another user</a>
  </body>
</html>
