<%- include("./partials/header.ejs") %>
  <body>
  <br>
  <h2><strong><i>name: </i></strong> <%= data.name %></h2>
  <br>
  <h2><strong><i>age: </i> </strong> <%= data.age %></h2>
  <br>
  <h2><strong><i>id: </i></strong><%= data._id %></h2>
  <br>
  <h2><strong><i>contact: </i> </strong> <%= data.number%></h2>
  <br>
  <h2><strong><i>about: </i></strong> <%= data.about %></h2>
  <br>


  <br>
  <a href="/del/<%= data._id %>?_method=DELETE"><button id="del" class="btn btn-outline-danger">
  delete
  </button></a>
  <a href="/edit/<%= data._id%>"><button id="edit" class="btn btn-outline-warning">
  edit
  </button></a>
  <br><br>
  <a href="/all">see all users</a>
  <br><br>
  <a href="/">create another user</a>

  <%- include("./partials/footer.ejs") %>
